@model ProjectManagement.Models.Issues

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Issues</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFlag" /> @Html.DisplayNameFor(model => model.IsFlag)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StoryPoint" class="control-label"></label>
                <input asp-for="StoryPoint" class="form-control" />
                <span asp-validation-for="StoryPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReporterID" class="control-label"></label>
                <select asp-for="ReporterID" class ="form-control" asp-items="ViewBag.ReporterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssigneeID" class="control-label"></label>
                <select asp-for="AssigneeID" class ="form-control" asp-items="ViewBag.AssigneeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SprintID" class="control-label"></label>
                <input asp-for="SprintID" class="form-control" />
                <span asp-validation-for="SprintID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpicID" class="control-label"></label>
                <input asp-for="EpicID" class="form-control" />
                <span asp-validation-for="EpicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
